# Week-1

<h2 id="hello">Say "Hello" to the world in Python</h2>

In [3]:
# Try your first python output.

print("Hello, Python!")

Hello, Python!

<h2 id:"version"> What version of Python are we using?</h2>

In [4]:
# Check the version of Python.

import sys
print(sys.version)

3.7.9 (default, Aug 31 2020, 12:42:55)
[GCC 7.3.0]

<h3 id:"comments"> Writing comments in Python </h3>

In [5]:
# Practice on writing comments

print('Hello, Python!') # This line prints a string
# print('Hi')

Hello, Python!

<h3 id:"error"> Errors in Python </h3>

In [6]:
# Print string as error message

frint("Hello, Python!")

NameError: name 'frint' is not defined

In [7]:
# Try to see build in error message

print("Hello, Python!)

SyntaxError: EOL while scanning string literal (<ipython-input-7-63a21a726720>, line 3)

<h3 id="python_error">Does Python know about your error before it runs your code?</h3>

Python is what is called an <em>interpreted language</em>. Compiled languages examine your entire program at compile time, and are able to warn you about a whole class of errors prior to execution. In contrast, Python interprets your script line by line as it executes it. Python will stop executing the entire program when it encounters an error (unless the error is expected and handled by the programmer, a more advanced subject that we'll cover later on in this course).

In [8]:
# Print string and error to see the running order

print("This will be printed")
frint("This will cause an error")
print("This will NOT be printed")

This will be printed

NameError: name 'frint' is not defined

<h3 id="exercise">Exercise: Your First Program</h3>

In [10]:
# Write your code below and press Shift+Enter to execute 
print("Hello, wrold!")

Hello, wrold!

<p>Now, let's enhance your code with a comment. In the code cell below, print out the phrase: <code>Hello, world!</code> and comment it with the phrase <code>Print the traditional hello world</code> all in one line of code.</p>

In [11]:
print("Hello, world!") # Print the traditional hello world

Hello, world!

<h3 id:"types"> Types </h3>

In [13]:
# Integer

11

11

In [14]:
# Float

2.24

2.24

In [15]:
# String

"Hello Python 202"

'Hello Python 202'

In [16]:
# Type of 12

type(12)

int

In [17]:
# Type of 2.24

type(2.24)

float

In [18]:
# Type of "Hello, Python 202"

type("Hello, Python 202")

str

In [19]:
# Information about float

sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [20]:
# Information about int

sys.int_info

sys.int_info(bits_per_digit=30, sizeof_digit=4)

In [23]:
# information about string

sys.str_info

AttributeError: module 'sys' has no attribute 'str_info'

<h3 id="convert">Converting from one object type to a different object type</h3>

In [25]:
# Verify that this is an integer

type(2)

int

In [26]:
# Convert 2 to a float

float(2)

2.0

In [27]:
# Convert integer 2 to a float and check its type

type(float(2))

float

In [28]:
# Casting 1.1 to integer will result in loss of information

int(1.1)

1

In [29]:
# Convert a string into an integer

int('1')

1

In [30]:
# Convert a string into an integer with error

int('1 or 2 people')

ValueError: invalid literal for int() with base 10: '1 or 2 people'

Did you know? IBM Watson Studio lets you build and deploy an AI solution, using the best of open source and IBM software and giving your team a single environment to work in. Learn more here.

In [31]:
# Convert an integer to a string

str(1)

'1'

In [32]:
# Convert a float to a string

str(1.2)

'1.2'

<h3 id="bool">Boolean data type</h3>

In [34]:
# Value true

True

True

In [35]:
# Value true

True

True

In [36]:
# Type of True

type(True)

bool

In [37]:
# Type of False

type(False)

bool

In [38]:
# Convert True to int

int(True)

1

In [39]:
# Convert 1 to boolean

bool(1)

True

In [40]:
# Convert 0 to boolean

bool(0)

False

In [41]:
# Convert True to float

float(True)

1.0

In [42]:
type(6/2)  # Data type of 6/2

float

In [43]:

type(6//2)  # Data type of 6//2

int

<h3 id="exp">Expressions</h3>

In [45]:
# Addition operation expression

43 + 60 + 16 + 41

160

In [46]:
# Subtraction operation expression

50 - 60

-10

In [47]:
# Division operation expression

25 / 5

5.0

In [48]:
# Division operation expression

25 / 6

4.166666666666667

In [49]:
# Integer division operation expression

25 // 5

5

In [50]:
# Integer division operation expression

25 // 6

4

In [54]:
160//60  # Hours in 160 min
# or
160/60

2.6666666666666665

In [55]:
# Mathematical expression

30 + 2 * 60

150

In [56]:
# Mathematical expression

(30 + 2) * 60

1920

<h3 id="var">Variables</h3>

In [57]:
# Store value into variable

x = 43 + 60 + 16 + 41

In [58]:
print(x)

160

In [59]:
# Use another variable to store the result of the operation between variable and value

y = x / 60
y

2.6666666666666665

In [60]:
# Overwrite variable with new value

x = x / 60
x

2.6666666666666665

In [61]:
# Name the variables meaningfully

total_min = 43 + 42 + 57 # Total length of albums in minutes
total_min

142

In [62]:
# Complicate expression

total_hours = (43 + 42 + 57) / 60  # Total hours in a single expression
total_hours

2.3666666666666667

<h3 id="exer_exp_var">Exercise: Expression and Variables in Python</h3>

In [64]:
x = 3 + 2 * 2
x

7

In [65]:
y = (3 + 2) * 2
y

10

In [66]:
z = x + y
z

17

# String Operations

<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li>
            <a href="#strings">What are Strings?</a>
        </li>
        <li>
            <a href="#index">Indexing</a>
            <ul>
                <li><a href="neg">Negative Indexing</a></li>
                <li><a href="slice">Slicing</a></li>
                <li><a href="stride">Stride</a></li>
                <li><a href="concat">Concatenate Strings</a></li>
            </ul>
        </li>
        <li>
            <a href="#escape">Escape Sequences</a>
        </li>
        <li>
            <a href="#operations">String Operations</a>
        </li>
        <li>
            <a href="#quiz">Quiz on Strings</a>
        </li>
    </ul>
   
</div>

<hr>

<h2 id="strings">What are Strings?</h2>

In [69]:
# Use quotation marks for defining string

"Michael Jackson"

'Michael Jackson'

In [70]:
# Use single quotation marks for defining string

'Michael Jackson'

'Michael Jackson'

In [73]:
# Digitals and spaces in string

'1 2 3 4 5 6 '

'1 2 3 4 5 6 '

In [74]:
# Special characters in string

'@#2_#]&*^%$'

'@#2_#]&*^%$'

In [75]:
# Print the string

print("hello!")

hello!

In [76]:
# Assign string to variable

name = "Michael Jackson"
name

'Michael Jackson'

<h2 id="index">Indexing</h2>

In [77]:
# Print the first element in the string

print(name[0])

M

In [78]:
# Print the element on index 6 in the string

print(name[6])

l

In [79]:
# Print the element on the 13th index in the string

print(name[13])

o

In [80]:
# Print the last element in the string

print(name[-1])

n

In [81]:
# Print the first element in the string

print(name[-15])

M

In [82]:
# Find the length of string

len("Michael Jackson")

15

<h3 id="slice">Slicing</h3>

In [83]:
# Take the slice on variable name with only index 0 to index 3

name[0:4]

'Mich'

In [84]:
# Get every second element. The elments on index 1, 3, 5 ...

name[::2]

'McalJcsn'

In [85]:
# Get every second element in the range from index 0 to index 4

name[0:5:2]

'Mca'

In [87]:
# Concatenate two strings

statement = name + " is the best"
statement

'Michael Jackson is the best'

In [89]:
# Print the string for 3 times

3 * "Michael Jackson "

'Michael Jackson Michael Jackson Michael Jackson '

In [90]:
# Concatenate strings

name = "Michael Jackson"
name = name + " is the best"
name

'Michael Jackson is the best'

In [91]:
# New line escape sequence

print(" Michael Jackson \n is the best" )

 Michael Jackson
 is the best

In [92]:
# Include back slash in string

print(" Michael Jackson \\ is the best" )

 Michael Jackson \ is the best

In [93]:
# Include back slash in string

print(" Michael Jackson \ is the best" )

 Michael Jackson \ is the best

In [94]:
# r will tell python that string will be display as raw string

print(r" Michael Jackson \ is the best" )

 Michael Jackson \ is the best

In [95]:
# Convert all the characters in string to upper case

a = "Thriller is the sixth studio album"
print("before upper:", a)
b = a.upper()
print("After upper:", b)

before upper: Thriller is the sixth studio album
After upper: THRILLER IS THE SIXTH STUDIO ALBUM

In [96]:
# Replace the old substring with the new target substring is the segment has been found in the string

a = "Michael Jackson is the best"
b = a.replace('Michael', 'Janet')
b

'Janet Jackson is the best'

In [97]:
# Find the substring in the string. Only the index of the first elment of substring in string will be the output

name = "Michael Jackson"
name.find('el')

5

In [98]:
# Find the substring in the string.

name.find('Jack')

8

In [99]:
# If cannot find the substring in the string

name.find('Jasdfasdasdf')

-1

In [100]:
a = "1"
b = "2"
c = a + b
c

'12'

In [101]:
# Write your code below and press Shift+Enter to execute

d = "ABCDEFG"
print(d[:3])

ABC

In [104]:
# Write your code below and press Shift+Enter to execute

e = 'clocrkr1e1c1t'
print(e[::2])

correct

In [105]:
# Convert in uppercase

f = "You are wrong"
f = f.upper()
print(f)

YOU ARE WRONG

In [106]:
# Find first index of finding 'snow'

g = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"

g.find('snow')

95

In [107]:
# Replace 'Mary' with 'Bob'

h = g.replace('Mary', 'Bob')
print(h)

Bob had a little lamb Little lamb, little lamb Bob had a little lamb Its fleece was white as snow And everywhere that Bob went Bob went, Bob went Everywhere that Bob went The lamb was sure to go

In [108]:
var = '01234567'
print(var[::2])

0246

In [109]:
str(1+1)

'2'

# Week-2

<h1 id="types">Types</h1>

In [4]:
# Create your first tuple

tuple1 = ("disco",10,1.2 )
tuple1

('disco', 10, 1.2)

In [5]:
# Print the type of the tuple you created

type(tuple1)

tuple

In [6]:
# Print the variable on each index

print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

disco
10
1.2

In [7]:
# Use negative index to get the value of the last element

tuple1[-1]

1.2

In [8]:
# Use negative index to get the value of the second last element

tuple1[-2]

10

In [9]:
# Use negative index to get the value of the third last element

tuple1[-3]

'disco'

<h3 id='concatenate'>Concatenate Tuples</h3>

In [10]:
# Concatenate two tuples

tuple2 = tuple1 + ("hard rock", 10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

In [11]:
# Slice from index 0 to index 2

tuple2[0:3]

('disco', 10, 1.2)

In [12]:
# Slice from index 3 to index 4

tuple2[3:5]

('hard rock', 10)

In [13]:
# Get the length of tuple

len(tuple2)

5

In [14]:
# A sample tuple

Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)

In [16]:
# Sort Ratings

RatingsSorted = sorted(Ratings)
RatingsSorted

[0, 2, 5, 6, 6, 8, 9, 9, 10]

In [17]:
# Create a nest tuple

NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))

In [18]:
# Print element on each index

print("Element 0 of Tuple: ", NestedT[0])
print("Element 1 of Tuple: ", NestedT[1])
print("Element 2 of Tuple: ", NestedT[2])
print("Element 3 of Tuple: ", NestedT[3])
print("Element 4 of Tuple: ", NestedT[4])

Element 0 of Tuple:  1
Element 1 of Tuple:  2
Element 2 of Tuple:  ('pop', 'rock')
Element 3 of Tuple:  (3, 4)
Element 4 of Tuple:  ('disco', (1, 2))

In [19]:
# Print element on each index, including nest indexes

print("Element 2, 0 of Tuple: ",   NestedT[2][0])
print("Element 2, 1 of Tuple: ",   NestedT[2][1])
print("Element 3, 0 of Tuple: ",   NestedT[3][0])
print("Element 3, 1 of Tuple: ",   NestedT[3][1])
print("Element 4, 0 of Tuple: ",   NestedT[4][0])
print("Element 4, 1 of Tuple: ",   NestedT[4][1])

Element 2, 0 of Tuple:  pop
Element 2, 1 of Tuple:  rock
Element 3, 0 of Tuple:  3
Element 3, 1 of Tuple:  4
Element 4, 0 of Tuple:  disco
Element 4, 1 of Tuple:  (1, 2)

In [22]:
# Print the first element in the second nested tuples

print(NestedT)
NestedT[2][1][0]

(1, 2, ('pop', 'rock'), (3, 4), ('disco', (1, 2)))

'r'

In [23]:
# Print the first element in the second nested tuples

print(NestedT[3][0])

3

In [24]:
# Print the first element of 2nd element in the 3rd nested tuples

print("Printed element:", NestedT[4][1][0])

Printed element: 1

In [25]:
# Print the second element in the second nested tuples

NestedT[4][1][1]

2

In [26]:
# sample tuple

genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco") 
genres_tuple

('pop',
 'rock',
 'soul',
 'hard rock',
 'soft rock',
 'R&B',
 'progressive rock',
 'disco')

In [27]:
# Length of genres_tuple

len(genres_tuple)

8

In [28]:
# Element with respect to index 3

print(genres_tuple[3])

hard rock

In [29]:
# Slicing to obtain indexes 3, 4 and 5

genres_tuple[3:6]

('hard rock', 'soft rock', 'R&B')

In [30]:
#  First two elements of the tuple genres_tuple

genres_tuple[0:2]

('pop', 'rock')

In [31]:
# The first index of "disco"

genres_tuple.index("disco")

7

In [32]:
# Sorted List from the Tuple C_tuple=(-5, 1, -3)

C_tuple=(-5, 1, -3)
sorted(C_tuple)

[-5, -3, 1]

<h1 id:"list"> List</h1>

In [33]:
# Create a list

L = ["Michael Jackson", 10.1, 1982]
L

['Michael Jackson', 10.1, 1982]

In [34]:
# Print the elements on each index

print('the same element using negative and positive indexing:\n Postive:',L[0],
'\n Negative:' , L[-3]  )
print('the same element using negative and positive indexing:\n Postive:',L[1],
'\n Negative:' , L[-2]  )
print('the same element using negative and positive indexing:\n Postive:',L[2],
'\n Negative:' , L[-1]  )

the same element using negative and positive indexing:
 Postive: Michael Jackson
 Negative: Michael Jackson
the same element using negative and positive indexing:
 Postive: 10.1
 Negative: 10.1
the same element using negative and positive indexing:
 Postive: 1982
 Negative: 1982

In [35]:
# Sample List

["Michael Jackson", 10.1, 1982, [1, 2], ("A", 1)]

['Michael Jackson', 10.1, 1982, [1, 2], ('A', 1)]

In [36]:
# Sample List

L = ["Michael Jackson", 10.1,1982,"MJ",1]
L

['Michael Jackson', 10.1, 1982, 'MJ', 1]

In [37]:
# List slicing

L[3:5]

['MJ', 1]

In [38]:
# Use extend to add elements to list

L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
L

['Michael Jackson', 10.2, 'pop', 10]

In [39]:
# Use append to add elements to list

L = [ "Michael Jackson", 10.2]
L.append(['pop', 10])
L

['Michael Jackson', 10.2, ['pop', 10]]

In [40]:
# Use extend to add elements to list

L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
L

['Michael Jackson', 10.2, 'pop', 10]

In [41]:
# Use append to add elements to list

L.append(['a','b'])
L

['Michael Jackson', 10.2, 'pop', 10, ['a', 'b']]

In [42]:
# Change the element based on the index

A = ["disco", 10, 1.2]
print('Before change:', A)
A[0] = 'hard rock'
print('After change:', A)

Before change: ['disco', 10, 1.2]
After change: ['hard rock', 10, 1.2]

In [43]:
# Delete the element based on the index

print('Before change:', A)
del(A[0])
print('After change:', A)

Before change: ['hard rock', 10, 1.2]
After change: [10, 1.2]

In [44]:
# Split the string, default is by space

'hard rock'.split()

['hard', 'rock']

In [45]:
# Split the string by comma

'A,B,C,D'.split(',')

['A', 'B', 'C', 'D']

In [46]:
# Copy (copy by reference) the list A

A = ["hard rock", 10, 1.2]
B = A
print('A:', A)
print('B:', B)

A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]

In [47]:
# Examine the copy by reference

print('B[0]:', B[0])
A[0] = "banana"
print('B[0]:', B[0])

B[0]: hard rock
B[0]: banana

In [48]:
# Clone (clone by value) the list A

B = A[:]
B

['banana', 10, 1.2]

In [49]:
print('B[0]:', B[0])
A[0] = "hard rock"
print('B[0]:', B[0])

B[0]: banana
B[0]: banana

In [50]:
# Create a list a_list, with the following elements 1, hello, [1,2,3] and True.

l1 = [1, 'hello', [1,2,3], True]
l1

[1, 'hello', [1, 2, 3], True]

In [51]:
# The value stored at index 1 of a_list.

l1[1]

'hello'

In [52]:
# Retrieve the elements stored at index 1, 2 and 3 of a_list

l1[1:4]

['hello', [1, 2, 3], True]

In [53]:
# Concatenate the following lists A = [1, 'a'] and B = [2, 1, 'd']

A = [1, 'a']
B = [2, 1, 'd']
C = A+B
C

[1, 'a', 2, 1, 'd']

In [56]:
C = '1,2,3,4'
C.split(',')

['1', '2', '3', '4']

<h1 id="dictonaries"> Dictionaries </h1>

<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li>
            <a href="#dic">Dictionaries</a>
            <ul>
                <li><a href="content">What are Dictionaries?</a></li>
                <li><a href="key">Keys</a></li>
            </ul>
        </li>
        <li>
            <a href="#quiz">Quiz on Dictionaries</a>
        </li>
    </ul>

</div>

<hr>

In [58]:
# Create the dictionary

Dict = {"key1": 1, "key2": "2", "key3": [3, 3, 3], "key4": (4, 4, 4), ('key5'): 5, (0, 1): 6}
Dict

{'key1': 1,
 'key2': '2',
 'key3': [3, 3, 3],
 'key4': (4, 4, 4),
 'key5': 5,
 (0, 1): 6}

In [59]:
# Access to the value by the key

Dict["key1"]

1

In [60]:
# Create a sample dictionary

release_year_dict = {"Thriller": "1982", "Back in Black": "1980", \
                    "The Dark Side of the Moon": "1973", "The Bodyguard": "1992", \
                    "Bat Out of Hell": "1977", "Their Greatest Hits (1971-1975)": "1976", \
                    "Saturday Night Fever": "1977", "Rumours": "1977"}
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

In [61]:
# Get value by keys

release_year_dict['Thriller']

'1982'

In [62]:
# Get value by key

release_year_dict['The Bodyguard']

'1992'

In [63]:
# Get all the keys in dictionary

release_year_dict.keys()

dict_keys(['Thriller', 'Back in Black', 'The Dark Side of the Moon', 'The Bodyguard', 'Bat Out of Hell', 'Their Greatest Hits (1971-1975)', 'Saturday Night Fever', 'Rumours'])

In [64]:
# Get all the values in dictionary

release_year_dict.values()

dict_values(['1982', '1980', '1973', '1992', '1977', '1976', '1977', '1977'])

In [65]:
# Append value with key into dictionary

release_year_dict['Graduation'] = '2007'
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977',
 'Graduation': '2007'}

In [66]:

del(release_year_dict['Thriller'])
del(release_year_dict['Graduation'])
release_year_dict

{'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

In [67]:
# Verify the key is in the dictionary

'The Bodyguard' in release_year_dict

True

In [68]:
# Question sample dictionary

soundtrack_dic = {"The Bodyguard":"1992", "Saturday Night Fever":"1977"}
soundtrack_dic

{'The Bodyguard': '1992', 'Saturday Night Fever': '1977'}

In [69]:
# The keys  in the dictionary soundtrack_dic.

soundtrack_dic.keys()

dict_keys(['The Bodyguard', 'Saturday Night Fever'])

In [70]:
# The values in the dictionary soundtrack_dic.

soundtrack_dic.values()

dict_values(['1992', '1977'])

In [71]:
# A dictionary album_sales_dict where the keys are the album name and the sales in millions are the values.

album_sales_dict = {
    "Back in Black": 50,
    "Bodyguard": 50,
    "Thriller": 65,
}
album_sales_dict

{'Back in Black': 50, 'Bodyguard': 50, 'Thriller': 65}

In [72]:
# Find the total sales of Thriller

album_sales_dict["Thriller"]

65

In [73]:
# The names of the albums from the dictionary using the method keys()

album_sales_dict.keys()

dict_keys(['Back in Black', 'Bodyguard', 'Thriller'])

In [74]:
# The values of the recording sales from the dictionary using the method values

album_sales_dict.values()

dict_values([50, 50, 65])

<h1 id="sets"> Sets </h1>

<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li>
            <a href="#set">Sets</a>
            <ul>
                <li><a href="content">Set Content</a></li>
                <li><a href="op">Set Operations</a></li>
                <li><a href="logic">Sets Logic Operations</a></li>
            </ul>
        </li>
        <li>
            <a href="#quiz">Quiz on Sets</a>
        </li>
    </ul>
 
</div>

<hr>

In [76]:
# Create a set

set1 = {"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}
set1

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

In [78]:
# Convert list to set

album_list = [ "Michael Jackson", "Thriller", 1982, "00:42:19", \
              "Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0]
album_set = set(album_list)             
album_set

{'00:42:19',
 10.0,
 1982,
 '30-Nov-82',
 46.0,
 65,
 'Michael Jackson',
 None,
 'Pop, Rock, R&B',
 'Thriller'}

In [79]:
# Sample set

A = set(["Thriller", "Back in Black", "AC/DC"])
A

{'AC/DC', 'Back in Black', 'Thriller'}

In [80]:
# Add element to set

A.add("NSYNC")
A

{'AC/DC', 'Back in Black', 'NSYNC', 'Thriller'}

In [81]:
# Try to add duplicate element to the set

A.add("NSYNC")
A

{'AC/DC', 'Back in Black', 'NSYNC', 'Thriller'}

In [82]:
# Try to remove element from the set

A.remove("NSYNC")
A

{'AC/DC', 'Back in Black', 'Thriller'}

In [83]:
# Verify if the element is in the set

"AC/DC" in A

True

In [84]:
# Sample Sets

album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

In [85]:
# Print two sets

album_set1, album_set2

({'AC/DC', 'Back in Black', 'Thriller'},
 {'AC/DC', 'Back in Black', 'The Dark Side of the Moon'})

In [86]:
# Find the intersections

intersection = album_set1 & album_set2
intersection

{'AC/DC', 'Back in Black'}

In [87]:
# Find the difference in set1 but not set2

album_set1.difference(album_set2)

{'Thriller'}

In [88]:
# Find the difference in set2 but not set1

album_set2.difference(album_set1)

{'The Dark Side of the Moon'}

In [89]:
# Use intersection method to find the intersection of album_list1 and album_list2

album_set1.intersection(album_set2)

{'AC/DC', 'Back in Black'}

In [90]:
# Find the union of two sets

album_set1.union(album_set2)

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [91]:
# Check if superset

set(album_set1).issuperset(album_set2)

False

In [92]:
# Check if subset

set(album_set2).issubset(album_set1)

False

In [93]:
# Check if subset

set({"Back in Black", "AC/DC"}).issubset(album_set1)

True

In [94]:
# Check if superset

album_set1.issuperset({"Back in Black", "AC/DC"})

True

In [95]:
# Convert the list ['rap','house','electronic music', 'rap'] to a set:

a_list = ['rap','house','electronic music', 'rap']
a_set = set(a_list)
a_set

{'electronic music', 'house', 'rap'}

In [96]:
# Consider the list A = [1, 2, 2, 1] and set B = set([1, 2, 2, 1]), does sum(A) = sum(B)

A = [1, 2, 2, 1]
B = set([1, 2, 2, 1])
print(sum(A))
print(sum(B))

6
3

In [97]:
# Create a new set album_set3 that is the union of album_set1 and album_set2:

album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])
album_set3 = album_set1.union(album_set2)
album_set3

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [98]:
# Find out if album_set1 is a subset of album_set3:

album_set1.issubset(album_set3)

True